h1,
h2,
h3,
h4,
div,
a {
    font-family: 'Heebo';
    color: #023047;
}

p {
    font-family: 'lato';
}

.head {
    padding: 0px;
}


li {
    list-style-type: circle;
    text-align: left;
}

li a {
    text-decoration: none;
}

.navigation {
    display: grid;
    flex-direction: column;
}

a:link {
    color: black;
}

a:visited {
    color: black
}

h1 {
    font-size: 24px;
    color: #023047;
    padding: 20px;
}

h4 {
    padding: 30px;
}

#discover {
    padding: 20px;
    font-size: 35px;
}

picture {
    width: 100%;
    height: auto;
}

.local {
    width: 100%;
    height: auto;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    display: block;
    width: 50%;
    height: auto;
    margin: 0px;
}

.container {
    position: relative;
    text-align: left;
}

.action {
    position: absolute;
    top: 50px;
    left: 30px;
    font-family: 'Heebo';
    font-weight: 600;
    font-size: 20px;
    color: #023047;
}

.description {
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: 120px;
}

.join {
    position: absolute;
    background-color: #023047;
    font-family: 'Lato';
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: white;
    bottom: 50px;
    left: 50px;


}

p {
    display: inline-block;
}

div.card {
    padding: 20px;
    border-left: 6px solid rgb(251, 133, 0);
    margin: 1em;
}


fieldset {
    padding: 20px;
}



h2 {
    font-weight: 500;
    display: inline-block;
    color: #023047;
    padding: 10px;
}

.view {
    display: inline-block;
    font-family: 'Lato';
    background-color: #023047;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    color: white;
}

.attractions {
    padding: 20px;
    border-left: 6px solid rgb(251, 133, 0);
    max-width: 360px;
}

.demographics {
    padding: 20px;
    border-left: 6px solid #023047;
}

.events {
    padding: 20px;
    border-left: 6px solid rgb(251, 133, 0);
}

#visit {
    border-style: outset;
    padding: 20px;
}

#visits {
    font-family: 'Heebo';
    font-size: 20px;

}

.content {
    padding: 20px;
}

/*form*/
form label {
    display: block;
    padding-top: 2em;
    font-family: 'Heebo';
}

li {
    text-align: left;

}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #023047;
    border-radius: 10px;
    padding: 1em;
}

form input.top {
    display:block;

}

form input.submitBtn {
    border: none;
    background-color: rgb(251, 133, 0);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 1.5em;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: rgb(230, 125, 4)
}

footer {
    background-color: #fb8500;
    color: #023047;
    padding: 50px;
    text-align: left;
}

/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: 'Lato';
}

th {
    background-color: #f2f2f2;
    font-family: 'Heebo';
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*event*/
.event {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.event h2 {
    margin: 0;
}

.event p {
    margin: 0;
}

.event-date {
    font-weight: bold;
}

/* small navigation view */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "\00d7";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #023047;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.navigation.open {
    padding: 0%;
}

.navigation li:hover {
    background-color: #fb8500;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}