@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Lato:wght@300;400&display=swap');
@media only screen and (min-width:32rem) {

    h1,
    h2,
    h3 {
        font-family: 'Heebo';
    }


    .head {
        display: inline;
    }

    li {
        color: black;
    }
    .action {
        position: absolute;
        top: 80px;
        left: 20px;
        font-family: 'Heebo';
        font-weight: 600;
        font-size: 30px;
    }

    .logo {
        display: block;
        width: 30%;
        height: auto;
    }
    .join {
        position: absolute;
        bottom: 50px;
    }
   
    .hero {
        aspect-ratio: 16/9 ;
    }
    .view {
        margin-left: 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 100px;
        margin-block: auto;
        padding: 30px;
     }

    /* larger view navigation */
    #menu {
        display: none;
        /* hide hamburger button */
    }
    .navigation {
        flex-direction: row;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
       
    }

    ul {
        padding: 0px;
    }

}