@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Manrope&family=Roboto:wght@100&display=swap');
body {
    font-family: 'Manrope', sans-serif;
}

header {
    background-color: rgb(70, 135, 225);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {

    width: 100px;
    height: auto;
    padding: 30px;
}

h1 {
    font-family: 'Inclusive Sans', sans-serif;
    color: white;
    text-align: center;   
}

h2 {
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: 300;
    padding: 30px;
    margin-block: auto;
}

h3 {
    font-family: 'Inclusive Sans', sans-serif;
    background-color: rgb(70, 135, 225) ;
    color: white;
    text-align: center;
    width: auto;
    padding: 20px;
    margin: 0;  
}

p {
    padding-left: 30px;
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    column-gap: 20px;
    margin-block: auto;
    padding: 30px;
}

section {
    border-right: 2px groove;
    border-left: 2px groove;
    border-bottom: 2px groove;
    border-top: 2px groove;
    margin-bottom: 20px;
}

nav {
    font-family: 'Inclusive Sans', sans-serif;
    background-color: #36454f;
    max-width: 880px;
    display: block;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0px;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav li:hover {
    background-color: lightslategray;
}

nav ul li {
    flex: 1 1 100%;
    padding: 0px;
}

.active {
    color: darkgray;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    list-style-type:none;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}


p.footer {
    padding: 0px;
    margin: 0;
}

footer {
    display: block;
    background-color: #36454f;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* small navigation view */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "\00d7";
}

.nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.nav li {
	display: none;
}
.nav li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.nav li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: " 💛 ";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 4rem;
	font-size: 1.7rem;
	cursor: pointer;
}






